<div class="container">
  <div class="col-md-8 col-md-offset-2"> 
  <div class="about-content">
      <h2>Welcome to Srijal's Finance tracker app</h2>
      <br>
      <ul>
        <li>Having trouble tracking your cashflow?</li>
        <li>Having trouble managing your finance??</li>
        <li>Having trouble assessing your cashflow???</li>
      </ul>
      <p>You don't need to worry anymore.</p>
      <p>Just go to the <strong>New Record</strong> tab at the top navigation bar and start creating your financial records.</p>
      <p>You can also view your current balance, debt, and total cashflow.</p>
      <p>What's keeping you from using <a href="#" class='footer-brand'>Finance.ly</a>?</p>
      <p>No more excuses to be unorganized. Start saving your money now!!!</p>
    </div>
  </div>
</div>